#include <windows.h>
#include "src/resource.h"

IDI_APP_ICON ICON "assets\\NativeHDRShot.ico"

IDR_VERSION_INFO VERSIONINFO
 FILEVERSION 0,4,0,0
 PRODUCTVERSION 0,4,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "0C0A04B0"
        BEGIN
            VALUE "CompanyName", "drbermejor"
            VALUE "FileDescription", "Captura HDR nativa a SDR"
            VALUE "FileVersion", "0.4.0"
            VALUE "InternalName", "NativeHDRShot"
            VALUE "LegalCopyright", "Copyright (C) 2026 drbermejor"
            VALUE "OriginalFilename", "NativeHDRShot.exe"
            VALUE "ProductName", "NativeHDRShot"
            VALUE "ProductVersion", "0.4.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0C0A, 1200
    END
END
